<h1>Hi, <%= params[:user].email %></h1>

Someone requested an edit of your password.

If it was you, please click the given like to reset your password. This link will automatically expire in 15 minutes.
<%= link_to "Reset Password", password_reset_edit_url(token: @token) %>